<div>
    <h4>Details:</h4>
        <p>Name: </p>
        <p>Occupation: </p>
        <p>Quote: </p>
    
    <form action="/movies/{{singleMovie._id}}/delete" method="post">
        <button>Delete movie</button>
    </form>
    <form action="/movies/{{singleMovie._id}}/edit" method="get">
        <button>Update movie</button>
    </form>
</div>