<div>
  <h3>Update Celebrity:</h3>
  <form action="/celebrities/{{celebrity.id}}/edit" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input class="form-control" type="text" name="name" value="{{celebrity.name}}"/>
  </div>
  <div class="mb-3">
    <label for="occupation" class="form-label">Occupation:</label>
    <input class="form-control" type="text" name="occupation" value="{{celebrity.occupation}}"/>
  </div>
  <div class="mb-3">
<label for="catchPhrase" class="form-label">Quote:</label>
    <input class="form-control" type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}"/>
  </div>

    <button class="btn btn-primary">Add</button>
  </form>
</div>